.fill {
  padding: 30px;
}

.challengeButtonsWrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challengeEditorWrapper {
  height: 300px;
}

.challengeOutputWrapper {
  height: 150px;
  background-color: #2f3129;
}

.challengeDescriptionWrapper {
  width: 200px;
}

@media (max-width: 767px) {
  .fill {
    height: fit-content;
    padding: 3%;
  }
  .challengeEditorWrapper {
    height: 435px;
  }
  .challengeOutputWrapper {
    height: 100px;
  }
  .challengeButtonsWrapper {
    height: 60px;
  }
  .challengeDescriptionWrapper {
    width: 100%;
  }
}
